{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block slider %}{% include 'slider.html' %}{% endblock %}
{% block body_block %}
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap" >
		<a class="button button-full button-dirtygreen center tright header-stick bottommargin-lg" data-scrollto="#section-careers" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
			<div class="container clearfix">
				Desire to be part of our team? <strong>Grow with Us!</strong> <i class="icon-caret-right" style="top:4px;"></i>
			</div>
		</a>
		<div class="container clearfix">
			<div class="heading-block center nobottomborder bottommargin-lg">
				<h1>California based Dental Management Company</h1>
				<span>Specializes in creating Brand Identity for emerging Startups</span>
			</div>

			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Who we <span>are</span>.</h4>
				</div>

				<p>
					We are a dental management company that partners with dental practices throughout California. Through leveraging best business practices and providing leadership and coaching we create a system and provide a platform through which each practice can thrive by achieving specific growth goals.
				</p>

			</div>

			<div class="col_one_third nobottommargin">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Mission</span>.</h4>
				</div>

				<p>At our core we believe that the care and comfort of our patients is paramount and that customer service is our highest priority. Our mission is to: Take care of our patients, Take care of each other and Thrive as a team.
				</p>

			</div>

			<div class="col_one_third nobottommargin col_last">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>What we <span>Do</span>.</h4>
				</div>

				<p>Our approach allows the practice team to achieve individual and team success and allows the doctor to focus on the clinical aspect of the practice while maintaining control of the office through the systems put in place. The doctor also benefits from guidance and reporting from the team at CDSI and the network of doctors they will have access to through CDSI.</p>

			</div>

		</div>
	</div>
	<div class="section footer-stick" id="section-careers">
		<div class="container clearfix"  style="padding-bottom: 35px;">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-block bottommargin-sm">
						<h3>Desire to be a part of our team?</h3>
					</div>

					<p class="nobottommargin">
						We are extremely proud of the work that we do, and wouldn’t be successful without our passionate team of dedicated doctors, office managers, hygienists, and assistants. If you have the desire to be a part of a creative and innovative group of professionals in a fun and rewarding environment, then we invite you to submit your CV to careers@cyrstaldentalservices.com
					</p>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->
{% endblock %}
