{% load staticfiles %}
<!-- Primary Navigation
============================================= -->
<nav id="primary-menu">
    <ul>
        <li>
            <a href="#" data-scrollto="#section-careers" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                <div>Careers</div>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                <div>Contact</div>
            </a>
        </li>
    </ul>
</nav>
<!-- #primary-menu end -->
